.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
  --border-primary: #c5c5c5;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

:root[data-theme="dark"] .page {
  --background: #000;
  --foreground: #000;
  --text-primary: #ededed;
  --text-secondary: #999;
  --button-primary-hover: #ccc;
  --button-secondary-hover: #1a1a1a;
  --button-secondary-border: #1a1a1a;
  --border-primary: #3a3a3a;
}

:root[data-theme="dark"] .logo {
  filter: invert();
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) .logo {
    filter: invert();
  }

  :root:not([data-theme="light"]) .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
    --border-primary: #3a3a3a;
  }
}
